{% extends 'base.html' %}
{% load bootstrap4 %}

{% block conteudo %}
    <div class="container">
        <h1>Contato</h1>
        {% bootstrap_messages %}

        <form action="{% url 'contato' %}" method="POST" class="form" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">Enviar mensagem</button>
            {% endbuttons %}
        </form>
    </div>
    {% bootstrap_javascript jquery='full' %}
{% endblock conteudo %}